$background-color:     #fefefe;
$desktop-col-width:         600px;
$smartphone-col-width: 100%;
$font-color:           #1a1a1a;
$font-stack:           Palatino;
$p-font-size:          20px;
$blockquote-font-size: 18px;
$smartphone-width:     768px;

body {
  background-color: $background-color;
  color: $font-color;
  font-family: $font-stack;
}

#column {
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 15px;
  width: $desktop-col-width;
}

a {
  color: $font-color;
}

.pub-date {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 0;
}

h1 {
  margin-top: 5px;
}

p {
  font-size: $p-font-size;
  line-height: 1.3;
  text-align: left;
}

blockquote {
  background-color: #f3f3f3;
  border-left: 10px solid #9fbec8;
  font-size: $p-font-size;
  font-style: italic;
  padding: 10px;
}

@media (max-width: $smartphone-width) {
  #column {
    margin-left: 5px;
    margin-right: 5px;
    width: $smartphone-col-width;
  }
}
