#content {
	margin: 0 500px;
	text-align: center;
}

body {
	font-family: "Georgia", Times, serif;
}

body a {
	font-family: "Courier New", Times, serif;
	color: black;
}

.essay_name {
	margin-left: 10px;
}

.navlink {
	margin-left: 10px;
}

#essay {
	text-align: left;
}

.author {
	font-family: "Georgia Bold", Times, serif;
}

@media(max-width: 500px) {
	#essay {
		margin: 0 10px 0 10px;
		width: 100%;
	}
}