body {
	font-family: "Georgia", Times, serif;
}

body a {
	font-family: "Courier New", Times, serif;
	color: black;
}

.essay_name {
	margin-left: 10px;
}

.navlink {
	margin-left: 10px;
}

#essay {
	margin-left: 50px;
	width: 50%;
}

.propaganda {
	font-size: 103%;
	font-family: "Courier New Bold", Times, serif;
	background: #C2C2A3;
}

.author {
	font-family: "Georgia Bold", Times, serif;
}

#sparkle_left_1 {
	font-family: "Courier New Bold", Times, serif;
	background: #C2C2A3;
	color: white;
}
#sparkle_left_2 {
	font-family: "Courier New Bold", Times, serif;
	background: #C2C2A3;
	color: red;
}
#sparkle_left_3 {
	font-family: "Courier New Bold", Times, serif;
	background: #C2C2A3;
	color: blue;
}

@media(max-width: 500px) {
	#essay {
		margin: 0 10px 0 10px;
		width: 100%;
	}
}