body {
	background-color: #FFFFB2;
	font-family: "Georgia", Times, serif;
	text-align: center;
}

body a {
	font-family: "Courier New", Times, serif;
}

ul {
	list-style-type: none;
	padding: 10px;
}

#essay {
	padding-left: 50px;
	width: 50%;
}