body {
	font-family: "Georgia", Times, serif;
	text-align: center;
}

#essay_list a:link,
#essay_list a:visited,
#essay_list a:hover,
#essay_list a:active {
	color: black;
	text-decoration: underline;
	font-family: "Courier New", Times, serif;
}

p {
	margin-top: 6px;
}

h2 {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0 10px;
	margin: 5px 0 0 0;
}

#name {
	margin-bottom: 0px;
}

li {
	padding: 3px;
}

.cover_img {
	margin: 0 auto;
	margin-top: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../assets/tower.png");
	height:200px;
	width: 200px;
	padding: 0;
	border-radius: 150px;
	border: 5px solid #eefbff;
}
