#center_column {
	text-align: center;
	font: Georgia;
	font-size: 20px;
	padding-top: 100px;
}

a {
	width: 100%;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	display: block;
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
}

hr {
	background: black;
}


hr.inside {
	width: 25%;
	height: 2px;
}

hr.middle {
	width: 24%;
	height: 2px;
}

hr.outside {
	width: 23%;
	height: 2px;
}

/*hr.inside {
	margin-top: 50px;
}*/

